# Gradle
.gradle/
build/
**/build/

# Android Studio
.idea/
*.iml
local.properties

# Android generated
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.ap_

# Kotlin / Java
*.class

# OS
.DS_Store
Thumbs.db

# Logs
*.log
